@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: IRANYekan;
    font-style: normal;
    font-weight: bold;
    src:
      url("./assets/woff2/IRANYekanXNoEn-Bold.woff2") format("woff2"),
      url("./assets/woff/IRANYekanXNoEn-Bold.woff") format("woff");
  }
  @font-face {
    font-family: IRANYekan;
    font-style: normal;
    font-weight: normal;
    src:
      url("./assets/woff2/IRANYekanXNoEn-Regular.woff2") format("woff2"),
      url("./assets/woff/IRANYekanXNoEn-Regular.woff") format("woff");
  }

  @font-face {
    font-family: Kalameh;
    font-style: normal;
    font-weight: bold;
    src:
      url("./assets/woff2/KalamehWebNoEn-Bold.woff2") format("woff2"),
      url("./assets/woff/KalamehWebNoEn-Bold.woff") format("woff");
  }
  @font-face {
    font-family: Kalameh;
    font-style: normal;
    font-weight: normal;
    src:
      url("./assets/woff2/KalamehWebNoEn-Regular.woff2") format("woff2"),
      url("./assets/woff/KalamehWebNoEn-Regular.woff") format("woff");
  }

  @font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 100 1000;
    font-display: swap;
    src: url("./assets/Inter-VariableFont_slnt,wght.ttf");
  }

  @font-face {
    font-family: Nunito;
    font-style: normal;
    font-weight: 100 1000;
    font-display: swap;
    src: url("./assets/Nunito-VariableFont_wght.ttf");
  }
}

@layer utilities {
  .font-display {
    font-family: KalamehWebNoEn, Nunito;
  }

  .font-thin {
    font-variation-settings: "wght" 100;
  }
  .font-extralight {
    font-variation-settings: "wght" 200;
  }
  .font-light {
    font-variation-settings: "wght" 300;
  }
  .font-normal {
    font-variation-settings: "wght" 400;
  }
  .font-normal[lang="fa"] {
    font-weight: normal !important;
  }

  .font-medium {
    font-variation-settings: "wght" 500;
  }
  .font-semibold {
    font-variation-settings: "wght" 600;
  }

  .font-bold[lang="fa"] {
    font-weight: bold !important;
  }

  .font-bold {
    font-variation-settings: "wght" 700;
  }
  .font-extrabold {
    font-variation-settings: "wght" 800;
  }
  .font-black {
    font-variation-settings: "wght" 900;
  }
}

html {
  font-family: IRANYekan, Inter;
}

.vc-color-range__container {
  direction: ltr;
}
